<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991494537749-nt3kk4artcpri03qq4pim9u97p7ubrua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991494537749-nt3kk4artcpri03qq4pim9u97p7ubrua</string>
	<key>API_KEY</key>
	<string>AIzaSyARIHVWbp1KONJdI83J66tG3I9pI5jRgU8</string>
	<key>GCM_SENDER_ID</key>
	<string>991494537749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pursuit.FirestoreDemo</string>
	<key>PROJECT_ID</key>
	<string>firestoredemo-9325d</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoredemo-9325d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991494537749:ios:509f37211fd94fb565441c</string>
	<key>DATABASE_URL</key>
	<string>https://firestoredemo-9325d.firebaseio.com</string>
</dict>
</plist>